
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;;

}

.testParagraph {
    background-color:#ffffff;
    padding: 20px 20px 20px 20px;
    float: right;
    border: solid #dddddd 10px;
    color: #777777;
}

body {
    background: url("../images/dark-triangles.png");
    color: #777777;
}

img {
   float: left;
    margin: 10px 10px 0 0;
}

.logo{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 45px;
    color: white;
    background-color: #4aaaa5;
    height: 50px;
    width: 50px;

}

footer {
   background-color: #666666;
    text-align: center;
    padding:40px 40px 40px 40px;
    width: 100%;
}

.hr {
    color: grey;
    width: 75%;
    height: 5px;
}

}