
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;;

}

.testParagraph {
    background-color:#ffffff;
    padding: 20px 20px 20px 20px;
    float: right;
}

body {
    background: url("../images/dark-triangles.png");
}

img {
    align:left;
}

.logo{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 45px;
    color: white;
    background-color: #4aaaa5;
    height: 50px;
    width: 50px;

}

.navPanel {
}